.loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 84px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 100vh;
    text-align: center;
    background: linear-gradient(120deg, #7bc6cc, #be93c5);
}
.loading span {
    display: inline-block;
    margin: 0 -0.05em;
}

.loading01 span {
    animation: loading01 1.4s infinite alternate;
}
.loading01 span:nth-child(1) {
    animation-delay: 0s;
}
.loading01 span:nth-child(2) {
    animation-delay: 0.1s;
}
.loading01 span:nth-child(3) {
    animation-delay: 0.2s;
}
.loading01 span:nth-child(4) {
    animation-delay: 0.3s;
}
.loading01 span:nth-child(5) {
    animation-delay: 0.4s;
}
.loading01 span:nth-child(6) {
    animation-delay: 0.5s;
}
.loading01 span:nth-child(7) {
    animation-delay: 0.6s;
}

@keyframes loading01 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
