.name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.editIcon {
    margin: 10px;
}

.infoField {
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
}
.fieldItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.checkboxField {
    display: flex;
    justify-content: center;
    gap: 30%;
}