
.avatar {
    width: 150px;
    border-radius: 50%;
}
.profileInfo {
    position: relative;
    max-width: 240px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    padding: 20px;
}

.name {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.editIcon{
    position: absolute;
    bottom: 10px;
    right: -20px;
    cursor: pointer;
}

