.box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
}

.userBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-width: 200px;
    background-color: rgba(4,4,4,0.19);
    padding: 10px;
    border-radius: 10px;
}
.pagination {
    width: 100%;
    display: flex;
    flex-wrap: wrap;


}
.paginationNumber {
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.active {
    font-size: 20px;
    font-weight: bold;
}
.disabled {
    background-color: lightgray;
}