.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    grid-area: 1 / 3 / 2 / 13;
    padding: 0 10px;
    background: linear-gradient(120deg, #7bc6cc, #be93c5);
    color: palegreen;
    border-radius: 0 0 0 10px;
}

.logo {
    color: deeppink;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 4px deeppink, 0 0 8px deeppink;
}