* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
.App {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.AppContent {
  grid-area: 2 / 3 / 3 / 13;
  background: linear-gradient(120deg, #7bc6cc, #be93c5);
  border-radius: 10px 0 0 0;
}

button {
  display: block;
  margin: 0;
  padding: 5px 10px;
  background-color: darkgreen;
  color: white;
  border: 1px solid darkslategray;
  border-radius: 5px;
}

.pagination  {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.pagination li {
  font-weight: bold;
  font-size: 18px;
  list-style: none;
  cursor: pointer;
}