.dialogsContainer {
    display: flex;
    min-height: 90vh;
    position: relative;
}

.colDialogs {
    width: 20%;
    border-right: 1px solid gray
}

.dialogBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
}

.dialogBox:hover {
    transition: 0.1s;
    border-radius: 5%;
    background-color: rgba(5, 4, 6, 0.10);
}

.dialogBox:active {
    transition: 0.3s;
    background-color: rgba(5, 4, 6, 0.20);
}

.colMessages {
    position: relative;
    display: flex;
    width: 80%;
    margin: 15px;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.input {
    display: block;
    width: 400px;
    height: 25px;
    border: 0.5px solid gray;
    border-radius: 5px;
}

.removeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}
.removeIcon path {
   fill: rgba(255,20,0,0.69);
}
.icon {
    opacity: 0.6;
}

.icon:hover {
    color: rgba(255, 20, 0);
}

* > .icon,
*:hover > .fa.fa-hover-hidden {
    visibility: hidden;
}

*:hover > .icon {
    visibility: visible;
}

@media screen and (max-width: 400px) {
    .colDialogs {
        width: 100%;
    }
    .colMessages {
        display: none;
    }
}