.message {
    display: inline-block;
    max-width: 200px;
    word-wrap: break-word;
    margin: 15px;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: rgb(228, 228, 228);
}
.messageContainer {
    position: relative;
    display:flex;
    flex-direction: row-reverse;
    justify-content: end;
    flex-wrap: nowrap;
    border-radius: 10px 10px 0 10px;
    padding: 5px 10px;
    align-items: center;
}
.messageContainer::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: -20px;
    transform: rotate(90deg);
}


